{% extends 'master.html' %}
   
   
   
{% block content %}
<div class="container d-flex justify-content-center">
    <img height="200px" width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRql70xOOTbXm-EbXqyornkJuoAV-mbMiXgi4qkvOXduE6joMY-qHZA2w6DHorDgbrpRyU&usqp=CAU" alt="">
    <h3 class="container m-5">Registered successfully</h3>
</div>
<p><a class="btn btn-primary" href="/i"> go to student list </a></p>
<p><a class="btn btn-secondary" href="/"> go to main page</a></p>
{% endblock %}