{% extends 'master.html' %}
   
   
   
{% block content %}
<div class="container m-5">
    <!-- <img class="d-block mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXVkbZjq7UJSyb1YcGPdD_Zc2YZk2sKkLhQWXKuZoZMg&s" alt=""> -->
    <h3 class="text-center"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXVkbZjq7UJSyb1YcGPdD_Zc2YZk2sKkLhQWXKuZoZMg&s" alt="">Deleted successfully</h3>
</div>
<p class="container text-center"><a class="btn btn-primary" href="/i"> go to student list </a></p>
<p class="container text-center"><a class="btn btn-secondary" href="/"> go to main page</a></p>
{% endblock %}