{% extends 'master.html' %}



{% block content %}

<div class="row text-black">
    <div class="col-7 mx-auto mt-5 mb-5 border rounded p-4">
        <form action="updateperson/" class="row g-3 needs-validation mt-3" novalidate method="POST">
        {% csrf_token %}
            <h1>Update person details</h1>
            <hr>
            <div class="col-md-6">
                <label for="validationCustom01" class="form-label">First name</label>
                <input type="text" class="form-control" id="fname" name="fname" value="{{ person.fname }}" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-6">
                <label for="validationCustom02" class="form-label">Last name</label>
                <input type="text" class="form-control"  id="lname" name="lname" value="{{ person.lname }}" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-12">
                <label for="validationCustomUsername" class="form-label">Email id</label>


                <input disabled readonly type="text" class="form-control"  id="email" name="email" value="{{ person.email }} "
                    aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please choose a email id.
                </div>

            </div>
            <div class="col-md-6">
                <label for="validationCustomUsername" class="form-label">Mobile No</label>


                <input disabled readonly type="number" class="form-control"  id="mob" name="mob" value="{{ person.mobile }}"
                    aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please choose a mobile number.
                </div>

            </div>
            <div class="col-md-6">
                <label for="validationCustomUsername" class="form-label">Date if birth</label>


                <input type="date" class="form-control"  id="dob" name="dob" value="{{ person.dob }}"
                    aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Please choose a dob.
                </div>

            </div>
            <div class="col-md-6">
                <label for="validationCustom03" class="form-label">City</label>
                <input type="text" class="form-control" id="city" name="city" value="{{ person.city }}" required>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>
            <div class="col-md-3">
                <label for="validationCustom04" class="form-label">State</label>
                <select class="form-select" id="state" name="state" value="{{ person.state }}" required>
                    <option selected disabled value="">Choose...</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Karnataka">Karnataka</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid state.
                </div>
            </div>
            <div class="col-md-3">
                <label for="validationCustom05" class="form-label">Pin</label>
                <input type="number" class="form-control" id="pin" name="pin" value="{{ person.pin }}" required>
                <div class="invalid-feedback">
                    Please provide a valid pincode.
                </div>
            </div>
            
            <div class="col-12 mb-3">
                <button class="btn btn-primary" type="submit">update details</button>
                <a class="btn btn-danger" href="/" type="button">Cancel</a>
            </div>
        </form>
    </div>
</div>
<script>
    (() => {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()
  </script>




{% endblock %}